:root{
  --black:#000000;
  --white:#ffffff;
  --red:rgb(159, 14, 14);
  --light-color:rgba(206, 203, 203, 0.795);
  --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
  --lighter-color:rgba(206, 203, 203, 0.963);
  }

*{
    margin: 0;
    padding: 0;
    font-family:'georgia' ,cursive;
    transition:all .2s linear ;
box-sizing:border-box;
outline:none; border:none;
text-transform: capitalize;
}
.logo img{
  float: left;
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.title{
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color:white;
  font-size: 70px;
  margin-top: 0px;
}
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  }
  @media (min-aspect-ratio: 16/9){
    .back-video{
      width: 100%;
      height: auto;
    }
  }
  @media (min-aspect-ratio: 16/9){
    .back-video{
      width: 100%;
      height: auto;
    }
  }
    
    header{
      position:fixed;
      left:0; top:0; right:0;
      padding:1rem 7%;
      display:flex;
      align-items:center;
      z-index:1000 ;
      justify-content: space-between;
    }
   .logo{
      position:relative;
      margin-top: 5px;
      padding:1px;
      margin-left: 3px;
      margin-right: 7px;
      margin-bottom:4px ;
    }
    
    header .navbar a{
    font-size:1.9rem;
    border-radius:.5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color) ;
    margin-right: 20px;
    }
    
    header .navbar a.active,
    header .navbar a:hover{
      color:white ;
      background:var(--red);
      padding-left:15px;
      padding-right:15px;
      padding-top: 10px;
      padding-bottom: 10px;
      }
    
    
    header .icons i,
    header .icons a {
    cursor:pointer;
    margin-left: 5rem;
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    font-size:1.7rem;
    border-radius: 50%;
    color:var(--black);
    background: var(--lighter-color);
    }
    header .icons i:hover,
    header .icons a:hover {
    color:var(--white);
    background: var(--red);
    }
    
    header .icons #menu-bars{
      display: none;
    }
    
    #search-form{
    position:fixed;
    top:-110%; left:0;
    height:100%; width:100%;
    z-index:1004;
    background:rgba(0, 0, 0, .8);
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 1rem;
      }
      #search-form.active{
        top:0;
      }
    
      #search-form #search-box{
        width:50rem;
        border-bottom:.1 rem solid white;
        padding: 1rem 0;
        font-size:3rem;
        text-transform: none;
        background: none;
        color:#ffffff;
      }
      #search-form #search-box::placeholder{
        color:var(--lighter-color);
      }
      #search-form #search-box::-webkit-search-cancel-button{
        -webkit-appearance: none;
      }
      #search-form label{
        color:white;
        cursor:pointer;
        font-size:3rem;
      }
      #search-form label:hover{
       color:var(--light-color);
      }
      #search-form #close{
        position:absolute;
        color:white;
        top: 2rem; right:3rem;
        font-size:5rem;
        cursor: pointer;
      }
    .dropdown {
      position: relative;
      display: inline-block;

    }
    .dropdown-content a {
      padding-right: 0px;
      padding-left: 0px;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
      
    }
    
    .dropdown:hover .dropdown-content {
      display: block;}
    .dropdown:hover .dropdown-content {
      padding-right:5px;
      padding-left:5px;
      padding-top:0px;
      padding-bottom:0px;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #bcc4bc;}
    
  
    @media (max-width:991px) {
      html{
        font-size:55%;
      }
      header{
        padding:1rem 2rem;
      }
    }
  
    @media (max-width:768px) {
      header .icons #menu-bars{
        display: inline-block;
      }
      header .navbar{
        position: absolute;
        top:100%; right:0; left:0;
        border-top:.1rem solid rgba(0, 0, 0, 0.2);
        padding:1rem;
        background: var(--red);
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
      }
      header .navbar.active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
      }
      header .navbar a{
        display:block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background: var(--red);
      }
      #search-form #search-box{
        width:90%;
        margin:0 1rem;
      }
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-right: 50px;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      margin-right: 30px;
      font-size: 50px;
    }
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    
    .dropdown:hover .dropbtn {background-color: var(--light-color);}
    html{
      overflow-x: hidden;
      scroll-padding-top: 5.5rem;
      scroll-behavior:smooth;
      font-size:62.5%;
    }